<div id="home">	
  	<div class="intro-text"></div>
	<div class="welcome-text">Welcome To Jayvee Lugod's Portfolio!</div>
    <div class="meet-text">IT'S NICE TO MEET YOU</div>
    <br><br>
    <%= link_to "Know Me More :)", about_me_path %>
</div>